body{
	font-size: 17px;
	font-family: 'Rubik';
	overflow-x: hidden;	
}

body,
body *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: transparent;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

a{
	text-decoration: none;
}